@import "../../shared/Colors.scss";

footer {
  width: 100%;
  min-height: 290px;
  height: 45%;
  box-sizing: border-box;
  padding: 40px 20px;
  background-color: $color-green-footer;

  h2{
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    color: $color-white;
  }
}

@media screen and (min-width:426px) {
    footer{
        height: 20%;
    }
}