@import "../../shared/Variabiles.scss";

footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  min-height: 290px;
  height: 45%;
  box-sizing: border-box;
  padding: 40px 20px;
  background-color: $color-green-footer;

  h2 {
    font-size: 26px;
    color: $color-white;
    white-space: nowrap;
  }
}

@media screen and (min-width: 769px) {
  footer {
    height: 20%;
    min-height: 0;
    max-height: 144px;
    display: flex;
    align-items: center;
    gap: 15%;
    padding: 40px 10%;
    margin-top: 5%;

    h2 {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15%;
    }
  }
}

@media screen and (min-width: 1450px) {
  footer {
    padding: 40px 20%;
  }
}
