@import "../../shared/Variabiles.scss";

footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  min-height: 290px;
  height: 45%;
  box-sizing: border-box;
  padding: 40px 20px;
  background-color: $color-green-footer;

  h2 {
    font-size: 26px;
    color: $color-white;
  }
}

@media screen and (min-width: 769px) {
  footer {
    min-height: 144px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

    h2 {
      width: 55%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20%;
    }
  }
}
