@import "../../shared/Variabiles.scss";

nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;

  a {
    color: $color-white;
    @include adaptiv-font(16, 14);
  }
  a:hover,
  a:active {
    color: $color-green-button-effect;
  }
}

@media screen and (min-width: 769px) {
  nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 0;
  }
}
