@import "../../../shared/Variabiles.scss";

header {
  #customButton {
    display: none;
    height: 43px;
  }
}
#customButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 43px;
  border-radius: 3rem;
}

.green,
.green-and-white:hover,
.green-and-white:active,
.white:hover,
.white:active {
  border: 1px solid $color-green-button;
  background-color: $color-green-button;
  color: $color-white;
}
.green:hover,
.green:active {
  background-color: $color-green-button-effect;
}

.green-and-white {
  border: 1px solid $color-green-button;
  color: $color-green-button;
  background-color: $color-green-section;
}

.white {
  border: 1px solid $color-white-header;
  background-color: $color-white-header;
  color: $color-green;
  font-weight: 700;
}

@media screen and (max-width: 320px) {
  #customButton {
    width: 55%;
    padding: 0 10px;
  }
}

@media screen and (min-width: 769px) {
  header {
    #customButton {
      display: flex;
      width: 196px;
    }
  }

  #customButton {
    width: 196px;
  }
}
