@import "../../shared/Variabiles.scss";

main {
  

  img {
    width: 100%;
    min-height: 288px;
  }

  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    background-color: $color-white-section;
    padding-top: 10%;

    .wrap {
      margin: 40px 20px;

      h1 {
        @include adaptiv-font(36, 26);
      }
      p {
        margin-top: 10px;
        @include adaptiv-font(16, 14);
      }
    }
  }
}

@media screen and (min-width: 769px) {
  section {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
