@import "../../shared/Colors.scss";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  img {
    width: 100%;
    min-height: 288px;
  }

  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    background-color: $color-white-section;
    padding-top: 10%;

    .wrap{
      margin: 40px 20px;

      h1 {
        font-size: 26px;
      }
      p {
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
}
