@import "../../shared/Variabiles.scss";

main {
  img {
    width: 100%;
    min-height: 288px;
  }

  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    background-color: $color-white-section;

    .wrap {
      margin: 40px 20px;

      h1 {
        @include adaptiv-font(36, 26);
      }
      p {
        margin-top: 10px;
        @include adaptiv-font(16, 14);
      }
    }
  }
}

@media screen and (min-width: 769px) {
  main {
    section {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;

      img {
        width: calc(50% - 20px);
      }
      .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 8.5% 0 10%;
      }
    }
  }
}

@media screen and (min-width: 1450px) {
  main {
    section {
      .wrap {
        margin: 0 8.5% 0 20%;
      }
    }
  }
}
