@import "../../shared/Variabiles.scss";

header {
  position: fixed;
  width: 100%;
  height: 10%;
  min-height: 60px;
  box-sizing: border-box;
  padding: 15px 20px;
  display: flex;
  background-color: $color-white-header;

  #laptop {
    display: none;
  }

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h1 {
      @include adaptiv-font(27, 24);
      color: $color-green-button;
    }
    p {
      font-size: 14px;
    }

    .contact {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      margin-left: 5%;

      h4 {
        display: flex;
      }
    }

    .address {
      display: none;

      P {
        display: flex;
        align-items: center;
      }
      svg {
        height: 20px;
        fill: $color-light-gray;
      }
      #street {
        padding-left: 20px;
        color: $color-gray;
      }
    }

    .whatsApp {
      display: none;

      img {
        width: 28px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  header {
    background-color: $color-white;
    padding: 15px 10%;

    #laptop {
      display: flex;
      justify-content: end;
      width: 65%;
    }

    section {
      justify-content: start;
      width: 35%;
      gap: 5%;

      .contact {
        display: none;
      }

      .address {
        display: flex;
        flex-direction: column;
      }

      .whatsApp {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

@media screen and (min-width: 1450px) {
  header {
    padding: 15px 20%;
  }
}