@import "../../shared/Colors.scss";

header {
  position: fixed;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white-header;

  button {
    height: 100%;
    background-color: $color-white-header;

    svg {
      fill: $color-green-button;
      width: 100%;
      height: 100%;
    }
  }

  button:hover,
  button:active {
    svg {
      fill: $color-green-button-effect;
    }
  }

  h1{
    font-size: 18px;
    color: $color-green-button;
  }

  .info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    margin-left: 5%;

    p{
      font-size: 13px;
    }
  }
}

@media screen and (min-width: 426px) {
  header {
    background-color: $color-white;

    h1{
      font-size: 28px;
    }

    button {
      background-color: $color-white;
    }
  }
}
