@import "../../shared/Variabiles.scss";

.card {
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-green-section;
  margin-top: 40px;
  border-radius: 5px;

  img {
    min-height: 170px;
    border-radius: 5px 5px 0 0;
  }

  .bio {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;

    h1 {
      @include adaptiv-font(38, 26);
    }
    h4 {
      @include adaptiv-font(22, 14);
    }
    ul {
      margin: 0;
      padding-left: 20px;

      li {
        @include adaptiv-font(16, 14);
      }
      li::marker {
        color: $color-green;
      }
    }

    .price {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      @include adaptiv-font(20, 18);

      del {
        @include adaptiv-font(16, 14);
        color: $color-gray;
      }
    }

    .actions {
      display: flex;
      justify-content: space-around;
      gap: 5px;
    }
  }
}


@media screen and (min-width: 769px) {
  .card {
    width: auto;
    max-width: 1140px;
    flex-direction: row-reverse;
    margin: 5% 10% 0;

    img {
      width: 50%;
      max-width: 692px;
      clip-path: polygon(30% 100%, 100% 100%, 100% 0, 0 0);
    }

    .bio{
      padding: 20px 0 20px;
    }
  }
}

@media screen and (min-width: 1450px) {
  .card {
    margin: 5% 20% 0;
  }
}