//color white
$color-white: #ffffff;
$color-white-header: #f6f6f6;
$color-white-section: #f8fbfa;
//color gray
$color-light-gray: #e1e1e1;
$color-gray: #868686;
//color black
$color-black: #364844;
//color green
$color-green: #1fa181;
$color-green-section: #e2f0ef;
$color-green-nav: #45927fe5;
$color-green-footer: #08664f;
$color-green-button: #0dbc91;
$color-green-button-effect: #00d29f;

$width-container: 1140px;

//mixin
$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
