@import "../../shared/Variabiles.scss";

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 10%;
    width: 100%; /* Full width */
    height: 90%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: $color-green-nav;
    font-size: 16px;
  }
  
  .modal.show {
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 40px 20px;
    gap: 40px;
  }
